.item {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
}

.item .item__image{
  min-width: 240px;
}

.item img{
  border-radius: 8px;
  width: 100%;
}

@media (max-width: 980px) {
  .item .item__image{
    width: 100%;
  }
}

.item .item__descricao{
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0 20px;
}

@media (max-width: 980px){
  .item .item__descricao{
    flex-direction: row;
    margin-top: 20px;
    padding: 0;
  }
}

.item .item__descricao .item__title h2{
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.item .item__descricao .item__title p{
  color: #92929d;
  font-size: 1.3rem;
  font-weight: 600;
  max-width: 600px;
  margin-bottom: 20px;
}

.item .item__tags{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
  max-width: 700px;
}

@media (max-width: 980px) {
  .item .item__tags{
    justify-content: flex-end;
  }
}

@media (max-width: 768px) {
  .item .item__tags{
    justify-content: flex-start;
  }
}

.item .item__tags > div{
  margin: 10px;
}

.item .item__tags .item__types{
  align-items: center;
  border-radius: 2px;
  display: flex;
  font-weight: bold;
  height: 40px;
  justify-content: center;
  padding: 10px 30px;
}

.item .item__tags .item__portion,
.item .item__tags .item__qtdperson,
.item .item__tags .item__value{
  align-items: center;
  display: flex;
  font-size: 1.25rem;
  font-weight: bold;
  justify-content: center;
}

.item .item__tags .item__value{
  color: #d73b3b;
  font-size: 1.7rem;
}

.item .item__tags .item__types .item__massas {
  background-color: #d73b3b;
  color: #fff;
}
.item .item__tags .item__types .item__carnes {
  background-color: #30201e;
  color: #fff;
}
.item .item__tags .item__types .item__combos {
  background-color: #e6c864;
}
.item .item__tags .item__types .item__veganos {
  background-color: #80aa40;
}
