.dark{
  background-color: #242536;
}

.dark-grey{
  background-color: #92929d;
}

.darkest-grey{
  background-color: #70707b;
}

.grey{
  background-color: #e4e4e4;
}

.black{
  background-color: #4c4d5e;
}

.light-grey{
  background-color: #f6f6f6;
}

.blue{
  background-color: #282b57;
}

.red{
  background-color: #d73b3b;
}

.red-dark{
  background-color:#c62a2a;
}
